<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product Form</title>
    <style>
        table{
            font-family: ariel, sand-serif, serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2> Products </h2>
<table style="width:70%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity Available</th>
        <th>Best Seller</th>
        <th>Price</th>
    </tr>
    {%  for product in S %}
        <tr>
            <th>{{ product.id }}</th>
            <th>{{ product.prod_name }}</th>
            <th>{{ product.prod_cat }}</th>
            <th>{{ product.prod_qty }}</th>
            <th>{{ product.prod_bestSeller }}</th>
            <th>{{ product.prod_price }}</th>
        </tr>
    {% endfor %}
</table>
<br>
<h2> Add Product </h2>
<form method="POST">
{% csrf_token %}
<table style="width:70%">
    {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<button type="submit">Submit</button>
</form>

</body>
</html>
