<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supply Form</title>
    <style>
        table{
            font-family: ariel, sand-serif, serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
</head>
<body>

<h2> Previous Supplies </h2>
<table style="width:70%">
    <tr>
        <th>Default ID</th>
        <th>Supplier ID</th>
        <th>Product ID</th>
        <th>Date of Supply</th>
        <th>Quantity Supplied</th>
        <th>Cost of 1 item</th>
    </tr>
    {%  for supply in S %}
        <tr>
            <th>{{ supply.id }}</th>
            <th>{{ supply.supply_supplierID.id }}</th>
            <th>{{ supply.supply_productID.id }}</th>
            <th>{{ supply.supply_date }}</th>
            <th>{{ supply.supply_qty }}</th>
            <th>{{ supply.supply_cost }}</th>
        </tr>
    {% endfor %}
</table>
<br>
<h2> Add new Supply </h2>
<form method="POST">
{% csrf_token %}
<table style="width:70%">
    {% for field in form %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<button type="submit">Submit</button>
</form>

</body>
</html>
